<configuration>
    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%logger{12}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>[%-20thread] %msg</pattern>
        </encoder>
    </appender>

    <appender name="sumoAppender" class="com.sumologic.hackathontestapp.SumoAppender">
        <encoder>
            <pattern>[%logger{12}] %msg</pattern>
        </encoder>
        <testMessage>ashish@testMessage</testMessage>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="logcat" />
        <appender-ref ref="sumoAppender" />
    </root>
</configuration>